.cabezera_area {
    height: 50vh;
    background: linear-gradient(
        rgba(240, 240, 240, 0.144),
        rgba(255, 255, 255, 0.336)
        ),
        url("../imagenes/Imagenprincipal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cabezera_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}

.titulo_cabezera {
    text-transform: uppercase;
    margin-top: 1.5em;
    border-radius: 41px;

}