
#Lenguajes {
    padding: 5rem 0;
    background: rgb(243, 243, 243);
}

.Lenguajes-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
    color: #555;
}

.Lenguajes-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 1rem;
}

.Lenguajes-box .checked {
    color: #ff9529;
}

.Lenguajes-box .Lenguajes-text {
    margin: 1rem 0;
    color: #444;
}

.Lenguajes-box {
    text-align: center;
    padding: 1rem;
}

.customer-photo img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}